.container-01 {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 20% 80%;
  /* grid-template-rows: 20% 80%; */
}
.container-1 {
  display: grid;
  grid-template-rows: 40px 90%;
}
/* svg {
  width: 10px;
} */
.title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.border-right {
  border-right: 1px solid gray;
}
.border-left {
  border-left: 1px solid gray;
}
.border-top {
  border-top: 1px solid gray;
}
.border-bottom {
  border-bottom: 1px solid gray;
}

.sidebar_link {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--gray-x);
  transition: all 0.5s ease-in-out;
  font-weight: 400;
}
.sidebar__list ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.sidebar__list ul li ul li {
  padding: 0.2rem 0;
}
.sidebar_link svg {
  width: 1rem;
  color: #7451f8;
}

.sidebar_link {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--gray-x);
  transition: all 0.5s ease-in-out;
  font-weight: 400;
}
.page-title {
  text-align: center;
  width: 100%;
  color: #7451f8;
  font-weight: bold;
}
.sidebar__list {
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
}
li button {
  border: none;
  background-color: white;
}
